<html>
<head>
 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Insert</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
	
	<link rel="stylesheet" type="text/css" href="styles/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="styles/style.css">
	
	
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script>
var app = angular.module('paitentsApp', []);
app.controller('MainCtrl', function($scope) {
  $scope.name = 'World';
  var today=new Date();
  $scope.today = today.toISOString();
});
</script>
<script>
$(function(){
    var Today = new Date();

    var month = Today.getMonth() + 1;
    var day = Today.getDate();
    var year = Today.getFullYear();

    if(month < 10)
        month = '0' + month.toString();
    if(day < 10)
        day = '0' + day.toString();

    var maxDate = year + '-' + month + '-' + day;    
    $('#dob').attr('max', maxDate);
	
	$('#dob').bind('change paste keyup', function() {
		var today = new Date();
		var birthDate = new Date($(this).val());
		var age = today.getFullYear() - birthDate.getFullYear();
		var m = today.getMonth() - birthDate.getMonth();
		
		if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
			age--;
		}
		if(isNaN(age)) {
			age = "";
		}
		$('#age').val(age);
	});
});

</script>
</head>
<body style="margin-top: 50px;" ng-app="paitentsApp">
<header><!--start header-->
		
		<nav class="navbar navbar-fixed-top" style="background:#3c465a;"><!--start nav-->
			
			<div class="container">
				
				<div class="navbar-header">
					
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
					</button>

				</div>

				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/"><span></span>Add patient</a></li>
						<li><a href="/search"><span></span>Search patient</a></li>
					</ul>				
				</div>

			</div>

		</nav><!--end nav-->

	</header><!--end header-->
	<div class="container"><!--start container-->	

		<div class="row"><!--start row-->

			<div class="col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4">

				<div class="card card-1" ng-controller="MainCtrl">
					
					<form action="/" method="POST" name="paitentForm" id="paitentForm">
						<h4>Add paitient information</h4>
					
						<div class="form-group">
							<input type="text" ng-pattern="/^[a-zA-Z]*$/" ng-maxlength="50"  name="firstname" placeholder="*Firstname" ng-model="firstname" class="form-control" required/>
							<p ng-show="paitentForm.firstname.$error.pattern || paitentForm.firstname === undefined" class="help-block">Number/Space/Special characters are not allowed for firstname</p>
							<p ng-show="paitentForm.firstname.$error.maxlength || paitentForm.firstname === undefined" class="help-block">Maxlength for this firstname is 50</p>
						</div>
			
						<div class="form-group">
							<input type="text" name="lastname"  ng-pattern="/^[a-zA-Z]*$/"  ng-maxlength="50" placeholder="*Lastname" ng-model="lastname" class="form-control" required>
							<p ng-show="paitentForm.lastname.$error.pattern || paitentForm.lastname === undefined" class="help-block">Number/Space/Special characters are not allowed for lastname</p>
							<p ng-show="paitentForm.lastname.$error.maxlength || paitentForm.lastname === undefined" class="help-block">Maxlength for this lastname is 50</p>
						</div>
						<div class="form-group">
							<Select name="gender" class="form-control" required>
								<option value="Male">Male</option>
								<option value="Female">Female</option>
							</select>
						</div>
						<div class="form-group">
							<input type="date" id="dob" name="dob" ng-model="dob" placeholder="Date of birth" class="form-control" max="{{today}}" required>
							<p ng-show="paitentForm.dob.$error.max" || paitentForm.dob === undefined" class="help-block">You can't enter future date in Date of birth</p>
						</div>
						<div class="form-group">
							<input type="text" ng-pattern="/^[0-9]*$/" id="age" ng-model="age" min="0" name="age" placeholder="Age" class="form-control" required>
							<p ng-show="paitentForm.age.$error.pattern || paitentForm.age === undefined" class="help-block">Only number is allowed for age</p>
						</div>
						<div class="form-group">
							<input type="text" ng-pattern="/^[0-9]*$/" name="phone" ng-maxlength="10" ng-maxlength="10" ng-model="phone" placeholder="*Phone" class="form-control" required>						
							<p ng-show="paitentForm.phone.$error.pattern || paitentForm.phone === undefined" class="help-block">Only number is allowed for phone</p>
							<p ng-show="paitentForm.phone.$error.minlength || paitentForm.phone === undefined" class="help-block">Length of phone number has to be 10 {format: 8870563070} </p>
							<p ng-show="paitentForm.phone.$error.maxlength || paitentForm.phone === undefined" class="help-block">Length of phone number has to be 10 {format: 8870563070} </p>
						</div>
						<div class="form-group">			
							<Textarea class="form-textarea" maxlength="512" ng-model="other" name="other" cols="2" rows="2" placeholder="others"></Textarea>
						</div>
						<div class="form-group">
							<input type="submit" name="submit" value="Submit" class="btn btn-primary"/>
						</div>
					</form>
			
				</div>
			</div>
		</div>
	</div>
</body>
</html>