<html>
<head>
 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Insert</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
	
	<link rel="stylesheet" type="text/css" href="styles/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="styles/style.css">
	
	
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	
	
</head>
<body style="margin-top: 50px;">
<header><!--start header-->
		
		<nav class="navbar navbar-fixed-top" style="background:#3c465a;"><!--start nav-->
			
			<div class="container">
				
				<div class="navbar-header">
					
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
					</button>

				</div>

				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/"><span></span>Add patient</a></li>
						<li><a href="/search"><span></span>Search patient</a></li>
					</ul>				
				</div>

			</div>

		</nav><!--end nav-->

	</header><!--end header-->
	<div class="container"><!--start container-->	

		<div class="row"><!--start row-->

			<div class="col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4">

				<div class="card card-1">
					
					<form action="/" method="POST">
						<h4>Add paitient information</h4>
					
						<div class="form-group">
							<input type="text" name="firstname" placeholder="Firstname" class="form-control" required/>
						</div>
			
						<div class="form-group">
							<input type="text" name="lastname" placeholder="Lastname" class="form-control" required>
						</div>
						<div class="form-group">
							<Select name="gender" class="form-control" required>
								<option value="Male">Male</option>
								<option value="Female">Female</option>
							</select>
						</div>
						<div class="form-group">
							<input type="date" name="dob" placeholder="Date of birth" class="form-control" required>
						</div>
						<div class="form-group">
							<input type="number" min="1" max="200" name="age" placeholder="Age" class="form-control" required>
						</div>
						<div class="form-group">
							<input type="number"  min="1000000000" max="9999999999" name="phone" placeholder="Phone" class="form-control" required>						
						</div>
						<div class="form-group">			
							<Textarea class="form-textarea" name="other" cols="2" rows="2" placeholder="others"></Textarea>
						</div>
						<div class="form-group">
							<input type="submit" name="submit" value="Submit" class="btn btn-primary"/>
						</div>
					</form>
			
				</div>
			</div>
		</div>
	</div>
</body>
</html>