<!DOCTYPE>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Search</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    
    <!-- CSS file -->
    <link rel="stylesheet" type="text/css" href="styles/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="styles/style.css">
	
  
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script>
var app = angular.module('paitentsApp', []);
app.controller('getAll', function($scope, $http) {
   $http.get("/get-all")
   .then(function (response) {$scope.rows = response.data.results;});
});
$scope.isEmpty = function(obj) {
  for(var prop in obj) {
      if(obj.hasOwnProperty(prop))
          return false;
  }
  return true;
};

</script>
     
  </head>
  
<body>
<header><!--start header-->
		
		<nav class="navbar navbar-fixed-top" style="background:#3c465a;"><!--start nav-->
			
			<div class="container">
				
				<div class="navbar-header">
					
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
					</button>

				</div>

				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/"><span></span>Add patient</a></li>
						<li><a href="/search"><span></span>Search patient</a></li>
					</ul>				
				</div>

			</div>

		</nav><!--end nav-->

	</header><!--end header-->
	<div class="container" ng-app="paitentsApp" ng-controller="getAll"><!--start container-->	
	<div class="col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4">
		<div class="card-shorter card-1">
			<div class="form-group">
					<input type="text" value="" ng-model="search" name="search" placeholder="Enter paitent's firstname to search" class="form-control"/>
			</div>
		</div>
		<div class="row"><!--start row-->
			<div ng-show="!isEmpty(search)">
				<div ng-repeat="row in rows">
					<div ng-if="row.firstname.toLowerCase().indexOf(search.toLowerCase())== 0" class="card-short card-1" >
						<h4>Firstname: {{ row.firstname }}</h4>
						<h4>Lastname: {{ row.lastname }}</h4>
						<p>Age: {{ row.age }}</p>
						<p>DOB: {{ row.dob }}</p>
						<p>Gender: {{ row.gender }}</p>
						<p>Phone: {{ row.phone }}</p>
						<p>Other: {{ row.other }}</p>
					</div>
				</div>
			</div>
			<div ng-show="isEmpty(search)">
				<div ng-repeat="row in rows">
					<div class="card-short card-1" >
						<h4>{{ row.firstname }}</h4>
						<h4>{{ row.lastname }}</h4>
						<p>Age: {{ row.age }}</p>
						<p>DOB: {{ row.dob }}</p>
						<p>Gender: {{ row.gender }}</p>
						<p>Phone: {{ row.phone }}</p>
						<p>Other: {{ row.other }}</p>
					</div>
				<div>
			</div>
		</div>
		</div>
	</div>



  
  
</body>
</html>